body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.box {
  background: rgb(0, 154, 0);
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.box:focus {
  outline: none;
}

.kbd-navigation .box:focus {
  background: #ddd;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
